<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Google Home -> Telldus Live!</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/hero-slider-style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
    </head>
    <body>
        <div class="cd-hero">
            <ul class="cd-hero-slider">
                <li class="selected">
                    <div class="cd-full-width">
                        <div class="container-fluid js-tm-page-content tm-page-1" data-page-no="1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <i class="fa fa-4x fa-home tm-icon"></i>&nbsp; &nbsp;
                                    <i class="fa fa-4x fa-long-arrow-right tm-icon"></i>&nbsp; &nbsp;
                                    <i class="fa fa-4x fa-lightbulb-o tm-icon"></i>

                                    <h2 class="tm-site-name">Google Home <i class="fa fa-long-arrow-right tm-icon"></i> IFTTT <i class="fa fa-long-arrow-right tm-icon"></i> Telldus Live!</h2>
                                    <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-1-col">
                                        <p class="tm-text">
                                            This is a free API service to enable voice commands
                                            from <a href="https://store.google.com/product/google_home">Google Home</a> to
                                            <a href="https://live.telldus.com/">Telldus Live!</a> via <a href="https://ifttt.com/">IFTTT</a>.
                                            It was created primarly to support my own DYI home automation setup, but as it is already running
                                            it might as well respond to external requests as well.
                                        </p>
                                        <p class="tm-text">
                                            Instruction and source code can be found on <a href="https://github.com/AndreCAndersen/home2telldus">Github</a>.
                                        </p>
                                        <p class="tm-text">
                                            This service comes with ABSOLUTELY NO WARRANTY, and you use it at your own risk.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
